.pricing {
  padding: 100px 0px;
  /* background-color: #d7d9ce; */
  background-color: #d8ddef;
}

.pricing-container {
  width: 88vw;
  /* background-color: grey; */
  margin: 0 auto;
  display: flex;
}

.kidgaming-img {
  height: 450px;
}

.copy > * {
  color: black;
}

.copy h1 {
  /* color: #0cf574; */
  color: #ff3434;
}
