.pricing {
  padding: 100px 0px;
  /* background-color: #d7d9ce; */
  background-color: #d8ddef;
}

.pricing-container {
  width: 88vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.kidgaming-img {
  height: 450px;
}

.copy > * {
  color: black;
}

.copy h1 {
  /* color: #0cf574; */
  color: #ff3434;
}

.flexp1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: cadetblue; */
}

.flexp2 {
  flex: 1;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: brown; */
  justify-content: center;
  /* object-fit: cover; */
}
