.nav {
  width: 100%;
  height: 80px;
  background-color: transparent;
  transition: all 0.4s ease;
  /* margin-top: -80px; */
}

.nav.active {
  background-color: #040404;
}

.nav-container {
  width: 88vw;
  margin: 0 auto;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
}

.links li {
  margin: 0 0 0 45px;
  cursor: pointer;
}

.brand {
  font-size: 2rem;
  cursor: pointer;
  /* font-family: "Press start 2p"; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.actives {
  border-bottom: 3px solid #ffff00;
}

.nav-links {
  padding: 28px 15px;
}
