body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  font-size: 5rem;
  margin-top: 0;
}

p {
  color: #ffffff;
  font-size: 1.5rem;
}

ul {
  margin: 0;
}
