.about {
  /* background-color: #0cf574; */
  background-color: #d8ddef;

  padding: 100px 0px;
}

.about-container {
  width: 88vw;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
}

.flexa1 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.flexa2 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.dk-img {
  height: 400px;
}

.racing-img {
  width: 100%;
}

.copy {
  /* width: 600px; */
}
